#tablero {
	width: 600px;
	height: 300px;
	background-color: lightgrey;
	border-radius: 15px;
	margin-top: 1em;
}

#bola {
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 15px;
	top: 0px;
	left: 0px;
	position: relative;
}